# Let us read the network
### [About the network](http://tolstoy.online)

In [1]:
import pandas as pd

from neo4j import GraphDatabase

In [2]:
wap = pd.read_csv('war_and_peace_network.csv', index_col='Id')
wap.head()

,Source,Target,Type,Label,timeset,Weight
Id,,,,,,
5509,Yakov_Alpatych,Nikolai_Rostov,Directed,NaN,NaN,5
5510,AndreyBolkonsky,Prince_Dolgorukov,Directed,NaN,NaN,11
5511,Nikolai_Rostov,Count_Ilya_Rostov,Directed,NaN,NaN,12
5512,приказный23_3_3_,полицеймейстер23_3_3_,Directed,NaN,NaN,2
6708,Prince_Nikolay_Bolkonsky,2,Directed,NaN,NaN,3

it seems like some columns are not informative

In [3]:
wap.Type.unique()

array(['Directed'], dtype=object)

In [4]:
wap.Label.unique()

array([nan])

In [5]:
wap.timeset.unique()

array([nan])

they are not, so we can drop them

In [6]:
wap = wap.drop(['Type', 'Label', 'timeset'], axis=1)
wap.head()

                        Source                 Target  Weight
Id
5509            Yakov_Alpatych         Nikolai_Rostov       5
5510           AndreyBolkonsky      Prince_Dolgorukov      11
5511            Nikolai_Rostov      Count_Ilya_Rostov      12
5512          приказный23_3_3_  полицеймейстер23_3_3_       2
6708  Prince_Nikolay_Bolkonsky                      2       3

# NEO4J

## Useful Links

#### intro
 - [about graph DBs](https://neo4j.com/developer/graph-database/)

#### cypher
- [online course](https://neo4j.com/graphacademy/online-training/introduction-to-neo4j/part-0/)
- [about cypher](https://neo4j.com/developer/cypher-query-language/)
- [quick help](https://neo4j.com/docs/2.0/cypher-refcard/)

#### python
- [driver example](https://neo4j.com/docs/api/python-driver/current/)
- [python manual](https://neo4j.com/docs/driver-manual/1.7/#driver-get-the-driver)

In [8]:
class HelloWorldExample(object):

    def __init__(self, uri, user, password):
        self._driver = GraphDatabase.driver(uri, auth=(user, password))

    def close(self):
        self._driver.close()

    def print_greeting(self, message):
        with self._driver.session() as session:
            greeting = session.write_transaction(self._create_and_return_greeting, message)
            print(greeting)

    @staticmethod
    def _create_and_return_greeting(tx, message):
        result = tx.run("CREATE (a:Greeting) "
                        "SET a.message = $message "
                        "RETURN a.message + ', from node ' + id(a)", message=message)
        return result.single()[0]

In [9]:
HWE = HelloWorldExample("bolt://localhost:7687",'neo4j', 'NEO4J')

In [10]:
HWE.print_greeting('IT WORKS OH MY GOD!!!111')

IT WORKS OH MY GOD!!!111, from node 203

In [11]:
class Driver(object):

    def __init__(self, uri, user, password):
        self._driver = GraphDatabase.driver(uri, auth=(user, password))

    def close(self):
        self._driver.close()

    def print_greeting(self, message):
        with self._driver.session() as session:
            greeting = session.write_transaction(self._create_and_return_greeting, message)
            print(greeting)

    @staticmethod
    def _create_and_return_greeting(tx, message):
        result = tx.run("CREATE (a:Greeting) "
                        "SET a.message = $message "
                        "RETURN a.message + ', from node ' + id(a)", message=message)
        return result.single()[0]
    
    @staticmethod
    def protect_properties(properties_dict):
        properties_str = '{'
        for key, value in properties_dict.items():
            properties_str += str(key)+': '
            if type(value) == str:
                properties_str += f'"{value}", '
            elif type(value) == type(None):
                properties_str += 'null, '
            else:
                properties_str += f'{value}, '
        return properties_str.strip(', ') + '}'

In [12]:
driver = GraphDatabase.driver("bolt://localhost:7687", auth=('neo4j', 'NEO4J'))

In [13]:
with driver.session() as session:
    session.run("CREATE (a:Person {name: 'Emma'}) -[:knows]-> (b:Person {name: 'Emil'})")

## Syntax functions

In [14]:
def protect_properties(properties_dict):
    properties_str = '{'
    for key, value in properties_dict.items():
        properties_str += str(key)+': '
        if type(value) == str:
            properties_str += f'"{value}", '
        elif type(value) == type(None):
            properties_str += 'null, '
        else:
            properties_str += f'{value}, '
    return properties_str.strip(', ') + '}'

In [15]:
protect_properties({ 'name': "Emil", 'from': "Sweden", 'klout': 99, 'HATE': None})

'{name: "Emil", from: "Sweden", klout: 99, HATE: null}'

In [43]:
# CREATE (ee:Person { name: "Emil", from: "Sweden", klout: 99 })
def node_obj(node_label, node_var=None, node_properties={}):
    """
    node string  
    
    :param node_label: str, label
    :param node_var: str, node variable name, optional, default None
    :param node_properties: dict with str keys, optional, default empty dict
    :return: str, node command part
    """
    if node_var:
        node_var_str = node_var+':'
    else:
        node_var_str = ''
    if node_properties:
        node_properties_str = protect_properties(node_properties)
    else:
        node_properties_str = ''
    command = f'({node_var_str}{node_label} {node_properties_str})'
    return command

In [88]:
def command(driver, obj, command='CREATE', ret=False, ret_vars=None, ddelete=False, delete_vars=None):
    """
    create a node or a path give (returns if flagged so) 
    
    :param driver: GraphDatabase.driver
    :param obj: str, valid node or path
    :param command: str, valid command (MATCH, MERGE, CREATE, DELETE), optional, default 'CREATE'
    :param ret: bool, whether to return the result, optional, default False
    :param ret_vars:  str, valid node_var_str list to return, optional, default None
    :param delete: bool, whether to detach delete a part of the result, optional, default False
    :param delete_vars:  str, valid node_var_str list to delete, optional, default None
    :return:
        if ret == False:
            None
        if ret == True:
            neo4j.BoltStatementResult
    """
    DO = f'{command} {obj}'
    if ret and ret_vars:
        DO += f' RETURN {ret_vars}'
    if ddelete and delete_vars:
        DO += f' DETACH DELETE {delete_vars}'
    with driver.session() as session:
        result = session.run(DO)
    if ret:
        return result

In [130]:
def show_all(driver):
    res = command(driver, '(n)', command='MATCH', ret=True, ret_vars='(n)')
    for el in res:
        print(el)

In [131]:
def ddelete_all(driver):
    command(driver, '(n)', command='MATCH', ddelete=True, delete_vars='(n)')

In [132]:
ddelete_all(driver)

In [133]:
show_all(driver)

In [137]:
var = 'Mary'
person_node_str = node_obj('Person', var, { 'name': 'Mary', 'age': 99 })
for el in command(driver, person_node_str, ret=True, ret_vars=var):
    print(el)

<Record Mary=<Node id=248 labels={'Person'} properties={'name': 'Mary', 'age': 99}>>

In [135]:
var = 'em'
person_node_str = node_obj('Person', var, { 'name': 'Emil', 'from': 'Sweden', 'klout': 99 })
for el in command(driver, person_node_str, command='CREATE', ret=True, ret_vars=var):
    print(el)

<Record em=<Node id=247 labels={'Person'} properties={'name': 'Emil', 'from': 'Sweden', 'klout': 99}>>

In [138]:
show_all(driver)

<Record n=<Node id=246 labels={'Person'} properties={'name': 'Mary', 'age': 99}>>
<Record n=<Node id=247 labels={'Person'} properties={'name': 'Emil', 'from': 'Sweden', 'klout': 99}>>
<Record n=<Node id=248 labels={'Person'} properties={'name': 'Mary', 'age': 99}>>

In [139]:
var = 'em'
person_node_str = node_obj('Person', var, { 'name': 'Emil', 'from': 'Sweden', 'klout': 99 })
for el in command(driver, person_node_str, command='MATCH', ret=True, ret_vars=var):
    print(el)

<Record em=<Node id=247 labels={'Person'} properties={'name': 'Emil', 'from': 'Sweden', 'klout': 99}>>

In [140]:
with driver.session() as session:
    result = session.run('MATCH (n) RETURN (n)')
    for el in result:
        print(el)

<Record n=<Node id=246 labels={'Person'} properties={'name': 'Mary', 'age': 99}>>
<Record n=<Node id=247 labels={'Person'} properties={'name': 'Emil', 'from': 'Sweden', 'klout': 99}>>
<Record n=<Node id=248 labels={'Person'} properties={'name': 'Mary', 'age': 99}>>

## TODO:
- implementh edges
- match properly

- add the graph to the DB

MATCH (ee:Person) WHERE ee.name = "Emil" RETURN ee;


CREATE (js:Person { name: "Johan", from: "Sweden", learn: "surfing" }),
(ir:Person { name: "Ian", from: "England", title: "author" }),
(rvb:Person { name: "Rik", from: "Belgium", pet: "Orval" }),
(ally:Person { name: "Allison", from: "California", hobby: "surfing" }),
(ee)-[:KNOWS {since: 2001}]->(js),(ee)-[:KNOWS {rating: 5}]->(ir),
(js)-[:KNOWS]->(ir),(js)-[:KNOWS]->(rvb),
(ir)-[:KNOWS]->(js),(ir)-[:KNOWS]->(ally),
(rvb)-[:KNOWS]->(ally)


MATCH (ee:Person)-[:KNOWS]-(friends)
WHERE ee.name = "Emil" RETURN ee, friends

MATCH (js:Person)-[:KNOWS]-()-[:KNOWS]-(surfer)
WHERE js.name = "Johan" AND surfer.hobby = "surfing"
RETURN DISTINCT surfer