In [ ]:
# SELECT distinct author_entry.author_name FROM author_entry, text_entry WHERE author_entry.author_id = text_entry.author_id
# SELECT text_entry.text_id, author_entry.author_name, languages.name, genres.genre_name FROM text_entry, author_entry, genres, languages 
# WHERE text_entry.author_id = author_entry.author_id and text_entry.genre_id = genres.genre_id and text_entry.language_id = languages.language_id

In [ ]:
# SELECT db_2019.author_entry.gender, count(db_2019.author_entry.gender) as cnt FROM db_2019.author_entry group by db_2019.author_entry.gender order by cnt desc;
# SELECT db_2019.author_entry.gender, count(db_2019.author_entry.gender) as cnt FROM db_2019.author_entry group by db_2019.author_entry.gender having cnt > 1;

In [ ]:
# SELECT * FROM db_2019.word_entries limit 11, 5; #начиная с n штук

In [ ]:
# SELECT * FROM (SELECT * FROM word_entries WHERE sent_no = 7) as tbl1, text_entry WHERE tbl1.texttext_entry_id = text_entry.text_id

In [ ]:
# SELECT * FROM word_entries WHERE token = 'дорогая' AND text_id IN (SELECT text_entry.text_id FROM text_entry, genres WHERE text_entry.genre_id = genres.genre_id and genres.genre_name = 'боевик')

# для нереализуемой иначе логики или для динамичного формирования и подставления в существуюший запрос

In [ ]:
# SELECT w1.* FROM word_entries as w1, word_entries as w2 WHERE w1.token = w2.token AND w1.word_id <> w2.word_id

In [ ]:
## index

# SELECT count(*) FROM db_2019.word_entries; 
# SELECT * FROM db_2019.word_entries where token='в' or token='на' or token='по'
# ALTER TABLE `db_2019`.`word_entries` ADD INDEX `by_tokens` (`token` ASC) VISIBLE;
# SELECT * FROM db_2019.word_entries where token='в' or token='на' or token='по'
# SELECT * FROM db_2019.word_entries where sent_no=50

In [ ]:
## FULL JOIN
# SELECT text_entry.text_id, languages.name AS `language`, genres.genre_name, author_entry.author_name FROM 
# ((text_entry 
# JOIN languages ON text_entry.language_id = languages.language_id) 
# JOIN genres ON text_entry.genre_id = genres.genre_id)
# JOIN author_entry ON text_entry.author_id = author_entry.author_id

In [ ]:
## RIGHT JOIN (always OUTER)
# SELECT text_entry.text_id, languages.name AS `language`, genres.genre_name, author_entry.author_name FROM 
# ((text_entry 
# JOIN languages ON text_entry.language_id = languages.language_id) 
# JOIN genres ON text_entry.genre_id = genres.genre_id)
# RIGHT JOIN author_entry ON text_entry.author_id = author_entry.author_id

In [ ]:
## execution order
# EXPLAIN
# SELECT text_entry.text_id, languages.name AS `language`, genres.genre_name, author_entry.author_name FROM 
# ((text_entry 
# JOIN languages ON text_entry.language_id = languages.language_id) 
# JOIN genres ON text_entry.genre_id = genres.genre_id)
# RIGHT JOIN author_entry ON text_entry.author_id = author_entry.author_id